footer{
    margin-top: 30px;
    background-color:lightcyan;
   
   span{
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-top: 5px;
   }
   .btn-subscribe{
    background-color:darkcyan;
    color: #fff;
margin-left: 10px;
   }
   .fa-brands{
    color: darkcyan;
    font-size: 30px;

   }
  
  
   #footer{
color: darkcyan;

   }
  ul{
    li{
        list-style: none;
    }
  }
  #footer-soon{
    margin-left: 44%;
  }
}