@model Slider
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h6><img src="~/assets/images/@Model.Image"/></h6>


<a asp-controller="Doctor" asp-action="Index" class="btn btn-dark">Back</a>

