@model Doctor
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h6><img src="~/assets/images/@Model.Image"/></h6>
<h6>@Model.Title</h6>
<h6>@Model.Desc</h6>

